body{
    background-color:#C8A2C8;
    text-align: center;
}

h1 {
    color: #45103E;
}

h2 {
    text-decoration: underline;
    color:#45103E;
}

.rules {
    color:#45103E;
}


.panel {
    margin: auto;
    width: 700px;
    background-color:white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.store-choices {
    text-align: center;
    color:#C8A2C8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 3px;
}



button {
    color:white;
    width: 150px ;
    background-color: #C8A2C8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 3px;
}


div.timer {
    border:1px #666666 solid;
    width:190px;
    height:50px;
    line-height:50px;
    font-size:36px;
    font-family:"Courier New", Courier, monospace;
    text-align:center;
    margin:5px;
}