* {
    background-color: #D3B5D3;
}

body {
    text-align: center;
}

h1 {
    color: 	#FFFACD	
}

h2 {
    text-decoration: underline;
    color: #FFFFE0	;
}

button {
    color:#C8A2C8;
    width: 150px ;
    background-color: #FFFACD;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 3px;
}

.store-choices {
    text-align: center;
    color:#C8A2C8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 3px;
}